<header class="site-header">
  <div class="container">
    <h1 class="site-title">
      <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
    </h1>

    <nav class="site-nav">
      <a href="{{ '/blog/' | relative_url }}">Blog</a>
      <a href="{{ '/' | relative_url }}">Home</a>
      <a href="{{ '/categories/deer-hunts/' | relative_url }}">Deer Hunts</a>
      <a href="{{ '/categories/turkey-hunts/' | relative_url }}">Turkey Hunts</a>
      <a href="{{ '/categories/fishing/' | relative_url }}">Fishing</a>
      <a href="{{ '/categories/other-stories/' | relative_url }}">Other Stories</a>
      <a href="{{ '/about/' | relative_url }}">About</a>
    </nav>
  </div>
</header>
